@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body.light{
    --brand-color : #ffc000;
    --primary-color : #fefcff;
    --secondary-color : #ffffff;
    --text-color:#121212 ;
    --sec-color : #172a46;
    --border-color: rgb(183, 183, 183);
    --box-shadow :  rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --how-it-works : #f2f2f2;
    --footer-color : #030810;
    --input-color : #ffff;
    --rating-color : rgb(241, 241, 241);
    --available-color : #bcffbc;
    --available-text-color : #00390a;
    --Not-available-text-color : #da0a0a;
    --Not-available-color: #fcd6c3;
    --active-color: rgb(245 245 245);
}

body.dark{
    --brand-color : #ffc000;
    --primary-color : #0a192f;
    --secondary-color : #172a46;
    --text-color:#ffffff ;
    --sec-color : #172a46;
    --border-color: #30415a;
    --box-shadow :  rgba(0, 0, 0, 0.2) 0px 8px 24px;
    --how-it-works : #172a46;
    --footer-color : #06101f;
    --input-color : #0f1e34;
    --rating-color : #2a456e;
    --available-color : #009300;
    --available-text-color : #ffff;
    --active-color: #0a192f;

    background-color: var(--primary-color);
}



.main-btn{
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E);
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 3px;
    font-weight: 600;
    border: 0;
    font-weight: 700;
    color: white;
    outline: 0;
}
.main-btn:hover{
    background-position: right center;
}