.myrentals-header{
   background:  linear-gradient(180deg,
   rgba(0, 0, 0, 0.284),
   rgba(0, 0, 0, 0.699)), 
     url(
 ../../../assets/manage-car.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
    padding: 100px 0;
    text-align: center;
 }
 .myrentals-header h1{
    color: white;
 }



 .rental-img {
   padding: 20px;
   background-color: var(--secondary-color);
   border-radius: 5px;
 }
.rental-img-car {
   width: 100%;
   object-fit: cover;
   aspect-ratio: 1;
}

 .reserved-car{
   padding: 40px 0;
 }

 
 .rent-card-long{
   box-shadow: var(--box-shadow);
   background-color: var(--secondary-color);
 }
 .rental-card-right{

   padding: 10px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 5px;
 }
 .rental-card-right h3{
   color: var(--text-color);
   margin-bottom: 0;
 }
 .rental-status{
   position: absolute;
   right: 5px;
   top: 13px;
   display: flex;
   gap: 5px;
 }
 .rental-status p{
   margin: 0;
   color: grey;
 }
 .rental-status span{
  
   padding: 1px 10px;
   border-radius: 5px;
   font-size: 14px;
 }
 body.dark .rental-status span{
   background: none;
 }
 

 .rental-status .pending{
   background-color: rgb(255, 245, 227);
   color: rgb(212, 104, 3);
 }
 .rental-status .confirmed{
   background-color: rgb(232 255 245);
   color: rgb(20, 146, 29);
 }



 .reserved-car p{
   margin: 0;
 }
.rented-box{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   
}
.rented-box label{
   color: grey;
}
.rented-box span{
   font-weight: 600;
   color: var(--text-color);
}



.rental-btn{
    display: flex;
    align-items: center;
    gap: 10px;
   }

.rented-box-below{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
}
.updated-status{
   color: grey;
   font-size: 14px;
}
.cancel-reservation{
   border: 0;
   outline: 0;
   color: rgb(200, 2, 2);
   border: 1px solid rgb(200, 2, 2);
   font-weight: 600;
   padding: 5px 10px;
   border-radius: 5px;
   width: 100px;
   background-color: transparent;
}
.pay-reservation{
   border: 0;
   outline: 0;
   color: rgb(7, 169, 26);
   border: 1px solid rgb(40, 187, 7);
   font-weight: 600;
   padding: 5px 10px;
   border-radius: 5px;
   width: 100px;
   background-color: transparent;
}
.return{
   border: 0;
   outline: 0;
   color: rgb(252, 134, 0);
   border: 1px solid rgb(252, 134, 0);
   font-weight: 600;
   padding: 5px 10px;
   border-radius: 5px;
   width: 100px;
   background-color: transparent;
}
.edit-reservation{
   border: 0;
   outline: 0;
   color: black;
   background-color: var(--brand-color);
   font-weight: 600;
   padding: 5px 10px;
   border-radius: 5px;
   width: 100px;
}
.confirmDelete{
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  z-index: 99999;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  transform: translateY(-8%);
  background-color: rgba(0, 0, 0, 0.359);
}
.confirmDelete .cfm-card{
   background-color: var(--secondary-color);
   padding: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   border-radius: 5px;
}

@media screen and (max-width:768px){
   .rented-box-below {
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: start;
      gap: 10px;
  }
  .rental-card-right, .rental-img  {
   padding: 10px;
  }
  .rental-status {
   position: absolute;
   right: 9px;
   top: 25px;
   display: flex;
   gap: 5px;
}
}

@media screen and (max-width:992px){
   .rented-box-below {
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: start;
      gap: 10px;
  }
}