.signup-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background: url('../../../assets//bg-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.dark .signup-wrapper{
    background: none
}
.signup-wrapper form{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    width: 500px;
    height: auto;
    padding: 40px;
}
.signup-wrapper form label, .signup-wrapper p{
    color: var(--text-color);
}
.signup-wrapper form h2{
    color: var(--text-color);
    text-align: center;
}

.signup-wrapper form .form-grp{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.signup-wrapper form .form-grp .inp-grp{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.signup-wrapper form .form-grp .inp-grp.role{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-between;
}
.signup-wrapper form .form-grp .inp-grp.role label:nth-child(1){
    font-weight: 600;
}
.rol-wrap{
    display: flex;
    align-items: center;
    gap: 5px;
}
 .rol-wrap input, .rol-wrap label{
    cursor: pointer;
}
.signup-wrapper form .form-grp .inp-grp input{
    padding: 8px;
    margin-top: 5px;
    background-color: var(--input-color);
    border: 0;
    outline: 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-color);
}
.signup-wrapper form button{
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
    color: white;
    padding: 8px 10px;
    border: 0;
    outline: 0;
    font-weight: 700;
    margin-bottom: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 5px;
    text-transform: uppercase;
}
.signup-wrapper form button:hover{
        background-position: right center; 
        color: #fff;
        text-decoration: none;
}
.signup-wrapper form  p{
    text-align: center;
}