.navbar{
   background-color: var( --primary-color);
   box-shadow: var(--box-shadow);
   padding: 20px 0;
}
.navbar-brand{
   color: var(--text-color);
   font-weight: 700;
}
.navbar-expand-lg .navbar-nav .nav-link {
   padding-right: 0rem; 
   padding-left: 0rem;
}   
.nav-link{
   color: var(--text-color);
   font-weight: 400;
   position: relative;
   padding:0 ;
   margin-right: 30px;
}
a.nav-link::after{
   content: '';
   position: absolute;
   width: 0%;
   height: 2px;
   left: 0;
   bottom: 0;
   background-color: var(--brand-color);
   transition: width 0.2s ease-in-out;
}
a.nav-link:hover, a.nav-link.active{
   color: var(--brand-color);
}
a.nav-link:hover::after,  a.nav-link.active::after{
   width: 100%;
}
.navbar-nav i{
   color: var(--text-color);
   margin-right: 30px;
   cursor: pointer;
   transition: 0.5s;
}

.join-us{
   background-color: var(--brand-color);
   color: white !important;
   padding: 2px 10px!important;
   border-radius: 3px;
   font-weight: 600!important;
}