.about-header{
   background:  linear-gradient(180deg,
                    rgba(0, 0, 0, 0.415),
                    rgba(0, 0, 0, 0.463)), 
                      url(
../../../assets/about-img.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 100px 0;
   text-align: center;
}
.about-header h1, .about-contact i, .about-contact span{
   color: white;
}
.about-contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}




.vision-mission{
    padding: 40px 0;
}
.vision-box{
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    padding: 40px;
}






.why-to-choose{
    padding: 40px 0;
}
.why-head{
    text-align: center;
    color: var(--text-color);
    margin-bottom: 40px;
}
.why-head hr{
    width: 20%;
    margin: 0 auto;
    height: 3px;
    background-color: var(--text-color);
    opacity: 1;
}


 .features-box, .feature-center{
     background-color: #00000098;
     color: white;
     position: relative;
 }
 .features-box  .content, .feature-center .content{
   position: relative;
   z-index: 2;
 }
 .features-box::after, .feature-center::after{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.536);
     z-index: 1;
 }
 .feature-center{
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background: url(../../../assets/grid-center.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 .feature-center h2, .features-box h2{
     font-weight: 700;
 }
 .features-box{
     padding: 40px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 
 .features-box.one{
     background: url(../../../assets/grid-1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 .features-box.two{
     background: url(../../../assets/grid-2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 .features-box.three{
     background: url(../../../assets/grid-3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 .features-box.four{
     background: url(../../../assets/grid-4.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 @media screen and (max-width:768px){
    .about-contact {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .vision-box {
        padding: 15px;
        margin-bottom: 10px;
    }
 }